.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu-actions {
  display: flex;
  gap: 15px;
}

.imagem-logo {
    height: 100;
}
