.account-both-sides {
  height: 100vh;
  display: flex;
}

.account-left-side {
  color: white;
  background-color: #1F87E4;
  width: 50%;
  font-family: "Poppins-Bold";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting-top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: -10px;
}

.login-logo {
  height: 150px;
  object-fit: contain;
}

.account-left-side h1 {
  margin: 0;
  font-size: 60px;
}

.account-right-side {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  margin-top: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-content h1 {
  text-align: center;
  font-family: "Poppins-Regular";
  color: black;
}

.login-content h4 {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "Poppins-Light";
}

.main-input {
  width: 450px;
  height: 40px;
  margin-top: 10px;
  padding: 0 15px;
  border: 2px solid #1F87E4;
  border-radius: 10px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  outline: none;
  margin-bottom: 20px;
  transition: 0.25s ease;
}

.main-input:hover,
.main-input:focus {
  border-color: #00315C;
  background-color: #f2f9ff;
}

.forgot-password {
  margin-top: -10px;
  font-family: "Poppins-Light";
  font-size: 12px;
  display: flex;
  justify-content: right;
  transition: 0.25s ease;
}

.forgot-password:hover {
  color: #1F87E4;
}

.campos-login {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-create-account {
  font-family: "Poppins-Light";
  font-size: 12px;
  transition: 0.25s ease;
}

.login-create-account:hover {
  color: #1F87E4;
}

.login-alternative {
  margin: 20px;
  color: black;
  font-size: 15px;
  font-family: "Poppins-Light";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-footer {
  margin-top: 15px;
  font-size: 13px;
  font-family: "Poppins-Light";
  display: flex;
  justify-content: center;
  transition: 0.25s ease;
}

.login-footer:hover {
  color: #1F87E4;
}
