.coupon-card {
  background-color: #1F87E4;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  color: white;
  font-family: "Poppins-Regular";
  width: 100%;   
  max-width: 100vw;     
}


.banner-discount-content {
  display: flex;
  align-items: center;
}

.arrow-down {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;  
}

.arrow-down a,
.arrow-down img {
  display: block;
  height: 100%;
  width: 100%;
}
