@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

html, body {
  background-color: #F4F3F2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.all-buttons {
  all: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  background-color: #1F87E4 ;
  color: white;
  font-family: "Poppins-Light";
  height: 40px;
  width: 80px;
  padding: 0 20px;
}
