@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}


html, body {
  background-color: #F4F3F2;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins-Regular";
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  transition: color .25s ease, opacity .25s ease;
}

a:hover {
  opacity: 0.7;
}

.all-buttons {
    all: unset;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    background-color: #1F87E4;
    color: white;
    font-family: "Poppins-Light";
    height: 40px;
    width: 110px;
    padding: 0 20px;
    transition: transform 0.2s ease;
}
.all-buttons:hover {
    background-color: #0b7ee3;
    transform: scale(1.05);
}

.all-buttons:active {
  transform: scale(0.97);
}
