.main-content {
  margin-top: 50px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  animation: fadeUp .6s ease forwards;
}

.main-title {
  margin-top: 30px;
  font-family: "Poppins-Light";
  opacity: 0;
  animation: fadeUp .6s ease forwards;
  animation-delay: .1s;
}

.subtitle {
  font-family: "Poppins-Thin";
  opacity: 0;
  animation: fadeUp .6s ease forwards;
  animation-delay: .2s;
}

.home-search-input {
    width: 300px;
    height: 40px; 
    border-radius: 10px;
    border: 3px solid #1F87E4; 
    font-family: "Poppins-Light";
    padding: 0 15px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.home-search-input:focus {
    border-color: #003f73;
    box-shadow: 0 0 5px rgba(31,135,228,0.3);
}



.input-area {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: fadeUp .6s ease forwards;
  animation-delay: .3s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
