@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.caixa-resumo_de_pedido{
    background-color:white;
    padding: 20px;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    font-family: 'poppins',sans-serif;
    border-radius: 5px;    
}
.titulo{
    font-size: 24px;
    font-weight: bold;
    
}
.linha_divisoria{
    border: none;
    border-top: 3px solid #e5e7eb;
    margin-top: 10px;
    margin-bottom: 20px;
}

.produto{
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.detalhes{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.linha-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.nome_servico {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
}

.preco {
    font-size: 16px;
    font-weight: 700;
    font-weight: normal;
}
.resumo{
    margin-top:10px;
}
.subtotal_valor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    
}
.taxa_valor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}

.deslocamento{
    font-weight: normal;
    margin: 0;
}
.taxa{
    font-weight: normal;
    margin: 0;
}
.valor_d{
   font-weight: normal;
    margin: 0;
}
.total_preco{
   margin-top: -30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total{
    font-weight: bold;
    font-size: 20;

}
.preco_t{
    font-size: 20px;
    color: black;
    font-weight: 500;
}


