.services {
  margin: 50px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.services-card {
  font-size: 23px;
  font-family: "Poppins-Regular";
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 450px;
  background-color: #1F87E4;
  justify-content: center;
  align-items: center;
}

.services-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.options-button {
  all: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border: solid white 2px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #1F87E4 ;
  color: white;
  font-family: "Poppins-Light";
  height: 40px;
  width: 140px;
}

.arrow {
  width: 25px;
}

.services-card-img {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 150px;
}
